*{
    --primary-color : #6400e4;
    --secondary-color : #ffd500;
}

@font-face {
    font-family: logo;
    src: url('../fonts/logo.ttf');
}

  @font-face {
    font-family: signature;
    src: url('../fonts/signature.ttf');
  }

body {
    margin:0;
    font-family: consolas;
    background:url('../images/bg-pattern.svg');
    width:97vw;
    width:100%;
}

fieldset {
    border: none;
    background: #464646;
    padding: 5px 5px;
    border-radius: 3px;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 100%;
    align-items: center;
    max-height: 80vh;
    overflow: auto;
}

li {
    width: 56%;
    display: flex;
    justify-content: space-between;
    margin: 3px 0;
    font-weight: 600;
}

label {
    color: #e9e9e9;
    border-radius: 3px;
}

input[type=radio]{
    margin: 0;
}

li:focus {
    outline: none;
}

header.app {
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
}

.app-spinner{
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    background: #00000070;
}

.task-actions {
    display:flex;
}

.task-label{
    display: inline-block;
    width: 90%;
    padding:5px;
    border-radius: 3px;
}

.btn-action{
    padding: .25rem .25rem;
    font-size: 1em;
    outline: none;
    border: none;
    border-radius: 3px;
    cursor:pointer;
}

.completed {
    background: var(--primary-color);
    color: white;
}

.not-completed {
    background: var(--secondary-color);
    color: #212121;
}

.new-task-input {
    width: 50%;
    border: 1px solid #e9e9e9;
    border-radius: 3px;
    padding: 0.5em;
    background: #ebebeb;
    color: #212121;
    font-weight: 600;
}

.new-task-input:focus {
    outline:none;
    border : 2px solid #212121;

}

.task-container {
    display: flex;
    justify-content: center;
}

.btn {
    padding: .25rem .25rem;
    font-size: 1em;
    outline: none;
    border: none;
    border-radius: 3px;
    width:5em;
}

.btn-primary {
    background: var(--primary-color);
    color: white;
}

.btn-secondary {
    background: var(--secondary-color);
    color: #212121;
}

.btn-neutral{
    height: 6vh;
    background: #464646;
    color: white;
    border-radius: 0;
}

.link {
    cursor:pointer;
    text-decoration:underline;
    font-weight:600;
}

.link-primary {
    color : var(--primary-color);
}

.hide {
    display:none !important;
}

.text-large {
    font-size: 2em;
}

.text-primary{
    color:#6400e4;
}

.text-neutral {
    color: #464646;
}

.text-medium {
    font-size: 1.25em;
}

input.cs-input{
    font-size: 1rem;
    text-indent: .8rem;
    padding: .4rem 0;
    outline: none;
    width: 300px;
    border: 1px solid #dddce0;
    border-radius: 3px;
    transition: border-color .15s;
    font-weight: 400;
    box-sizing: border-box;
    margin: 1em;
}

div.form {
    height : 0vh;
    width: 50vw;
    margin-left: 5em;
    
}

.form-page {
    margin: 1em 0;
    padding: 35px 0;
    background: #dddce0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background:var(--primary-color);
    /*box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);*/
}

img.logo {
    width: 100px;
    height: 66px;
}

img.illustration {
    width: 40vw;
    height: 80vh;
}

div.app-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

div.app-illustration{
    margin-top:1em;
    display: flex;
    height: 43vh;
    width : 50vw;
    justify-content: center;
    background-color: #dddce0;
}

header.login {
    padding: 3px;
    display:flex;
    justify-content: space-between;
}

.dev-name , .user-name {
    padding: 0.5em;
    text-decoration: underline;
    font-size: 1em;
    color: #464646;
    font-weight:600;
}

.dev-name{
    font-family: signature;
}

.app-name {
    font-family: logo;
    font-size : 1.75em;
    text-decoration:underline;
}

.filter-container{
    display: flex;
    justify-content: center;
}
